.cards {
  flex-grow: 1;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  width: 250px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #888888;
  background-color: $grey;
}

.card-info {
  color: black;
  padding: 5px;

  h3 {
  font-size: 20px;
  font-weight: bold;
  }
}

.card-homepage {
  width: 250px;
  height: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-filter: brightness(100%);

  &:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
